[user]
	email = rsx@bluewin.ch
	name = roland
[core]
	excludesfile = /home/roland/.gitignore
[diff]
    tool = meld
[color]
	ui = true
[url "git://github.com/ghc/packages-"]
	insteadOf = git://github.com/ghc/packages/
